.todo{
    background-color: rgba(231, 227, 235, 0.527);
    color: rgb(28, 28, 29);
   
}
.tituloCreate{
    /* background-color: red; */
    padding-bottom: 10px;
    font-size: 35px;
    text-decoration: underline;
    font-family: fantasy;
}
.name{
    /* background-color: red; */
    padding-bottom: 30px;
}
.nameName{
    font-size: 20px;
}
.nameInput{
    width: 220px;
    height: 20px;
    border-radius: 10px;
}
.dificultad{
    padding-bottom: 30px;
    font-size: 20px;
}
.dificultadTitulo{
    text-decoration: underline;
    font-size: 25px;
}
.dificultadName{
    margin-left: 30px;
}
.duracion{
    padding-bottom: 40px;
}
.duracionTitulo{
    font-size: 20px;
    padding-right: 10px;
    /* font-size: 20px; */
}
.duracionSelect{
    width: 120px;
    height: 30px;
    
}
.temporada{
    padding-bottom: 40px;
    font-size: 20px;
}
.temporadaTitulo{
    text-decoration: underline;
    font-size: 25px;
}
.temporadaName{
    margin-left: 30px;
    width: 30px;
    
}
.pais{
/* background-color:red; */
padding-bottom: 40px;
font-size: 20px;
}
.paisTitulo{
    padding-right: 10px;
}
.paisName{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
}
.paisID{
    background-color: rgb(2, 34, 34);
    color: white;
    margin-left: 45%;
    margin-right: 45%;
}
.error{
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 3px;
    background-color: rgba(83, 8, 8, 0.589);
}



.crear{
    padding-bottom: 30px;
}
.crearBoton{
    width: 400px;
    height: 40px;
    border-color: rgba(183, 10, 236, 0.562);
    border-radius: 50px;
    font-size: 20px;
    font-family: fantasy;
    color: rgb(28, 29, 29);
}
.crearBoton:hover{
    color: rgb(141, 141, 135);
}