.nav{
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 8px 11px 1px rgba(0, 0, 0, 0.89);
  /* height: 100px; */
  /* margin-bottom: -30px; */
}
.imagen{
    /* width: 150px;
    height: 100px;
    margin-right: 100%; */
    width: 150px;
}
.link{
    display: flex;
    justify-content: space-evenly;
}
.p{
   background-color: rgb(4, 184, 255);
   font-size: 20px;
   font-weight: bold;
   text-decoration: none;
   color: aliceblue;
   padding-bottom: 3px;
   width: 15%;
   border-radius:4px;
    position: relative;
    bottom: 30px;
}
