.div {
  text-align: center;
}
.bar {
  width: 300px;
  font-size: 1rem;
  text-decoration: none;
  border-style: none;
  height: 2rem;
  background-color: rgb(249, 244, 252);
  border-radius: 7px;
  font-family: fantasy;
  margin-top: 15px;
  color: rgb(53, 50, 46);
}
.button {
  padding: 0.6rem;
  font-weight: bold;
  text-decoration: none;
  border: none;
  background-color: rgb(230, 230, 230);
  color: rgb(10, 10, 10);
  margin-left: 1rem;
  border-radius: .2rem;

}
.button:hover{
        background-color: rgb(160, 158, 158);
}
.nav {
}
